<div class="modal fade" id="editElementModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Element bearbeiten</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="edit-raum-info" class="form-label">Raum</label>
                        <input type="text" id="edit-raum-info" class="form-control" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="edit-element-info" class="form-label">Element</label>
                        <button type="button" id="show-history-btn" class="btn btn-sm btn-outline-dark float-end"
                                value="0"
                                data-bs-toggle="modal" data-bs-target="#historyModal">
                            <i class="fas fa-history"></i>
                        </button>
                        <input type="text" id="edit-element-info" class="form-control" readonly>
                    </div>
                </div>


                <div class="mb-3 row">
                    <div class="col-md-3">
                        <label for="edit-current-amount" class="form-label">Aktuelle Anzahl</label>
                        <input type="number" id="edit-current-amount" class="form-control" readonly>
                    </div>

                    <div class="col-md-3">
                        <label for="edit-variant-name" class="form-label">Variante</label>
                        <select id="edit-variant-name" class="form-select">
                            <option value="0">-</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="4">D</option>
                            <option value="5">E</option>
                            <option value="6">F</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="edit-neuBestand" class="form-label">Neu/Bestand</label>
                        <select id="edit-neuBestand" class="form-select">
                            <option value="">-</option>
                            <option value="0">Ja</option>
                            <option value="1">Nein</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="edit-new-amount" class="form-label">Neue Anzahl *</label>
                        <input type="number" id="edit-new-amount" min="0" class="form-control" required>
                    </div>


                </div>


                <div class="mb-3 row">
                    <div class="col-md-12">
                        <label for="edit-element-comments" class="form-label">Element Kommentare</label>
                        <textarea id="edit-element-comments" class="form-control" rows="2"></textarea>
                    </div>
                </div>

                <!--- div class="mb-3">
                    <div class="col-md-12">
                        <label for="edit-room-comments" class="form-label">Raum Kommentar</label>
                        <textarea id="edit-room-comments" class="form-control" rows="2"></textarea>
                    </div>
                </div --->

                <div class="mb-3 row">
                    <div class="col-md-12">
                        <label for="edit-change-comment" class="form-label">Kommentar/Status für Änderung
                            (=Protokolltext) </label>
                        <textarea id="edit-change-comment" class="form-control" rows="3"
                                  placeholder="Grund für die Änderung angeben. Dies wird im Protokoll vermerkt. "></textarea>
                    </div>
                    <div class="col-md-12">
                        <label for="edit-status" class="sr-only">Status</label>
                        <select id="edit-status" class="form-select">
                            <option value="0"> -</option>
                            <option value="1" selected>Nutzer Anforderung</option>
                            <option value="2">Freigegeben</option>
                        </select>
                    </div>
                </div>


                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="edit-confirm">
                    <label class="form-check-label" for="edit-confirm">
                        Ich bestätige, dass diese Änderung korrekt ist und durchgeführt werden soll.
                    </label>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" id="save-element-change" disabled>Änderung speichern
                </button>
            </div>
        </div>
    </div>
</div>