<div class='modal fade' id='showGroupMembersModal' role='dialog' tabindex="-1">
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'>Teilnehmer:</h4>
                <button type='button' class='close' data-bs-dismiss='modal'>&times;</button>
            </div>
            <div class='modal-body' id='showGroupMembersModalBody'>
                <div class="mt-1 card">
                    <div class="card-header">Teilnehmer:</div>
                    <div class="card-body" id='vermerkGroupMembers'>
                    </div>
                </div>
                <hr></hr>
                <div class="mt-1 card">
                    <div class="card-header">Mögliche Teilnehmer:</div>
                    <div class="card-body" id='possibleVermerkGroupMembers'>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default btn-sm' value='closeModal'
                        data-bs-dismiss='modal'>
                    Schließen
                </button>
            </div>
        </div>
    </div>
</div>