.grün {
    background-color: rgba(100, 140, 25, 0.3) !important;
}
.rot {
    background-color: rgba(100, 0, 25, 0.3) !important;
}

#scrollBtn {
    height: 45px; /* Adjust height for ellipse shape */
    width: 45px; /* Adjust width for ellipse shape */
    display: block; /* Ensure the button is displayed */
    position: fixed;
    bottom: 20px; /* Position it slightly above the bottom */
    right: 20px; /* Position it slightly away from the right edge */
    z-index: 99;
    font-size: 20px;
    background-color: rgba(100, 140, 25, 0.1);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px; /* Make the button an ellipse */
}



#scrollBtn:hover {
    background-color: #0056b3;
}

#btn{
    box-shadow: 0 3px 3px 0 rgba(1,0,1,0.2), 0 5px 5px 0 rgba(1,1,0,0.10);
}

#th {
    background-color: rgba(100, 140, 25, 0.15);
}


.form-check-input:checked {
    background-color: rgba(100, 140, 25, 0.75) !important;
}

#pull-right {
    float: right !important;
}

#body, html, .container-fluid {
    height: 100%;
    font-size:13px;
    color: #222;
    background: #fff;
    font: 100% system-ui;
}

#frame {
    border: thin #000000 solid;
    padding: 5px 0px 5px 0px;
    width: 1280px;
    height: 1024px;
    font-family: 'Arial';
    margin: auto;
    font-size: 13px;
}

#infobox {
    height: 5%;
}

#browser {
    width: 100%;
    height: 2%;
    color: #FFFFFF;
    background-color: #64F361;
}
#searchbar {
    height: 3%;
    background-color: #E5E5E5;
}

#workspace {
    height: 93%;
    background-color: #F5F5F5;
}
#td {
    padding: 5px;
}
#table {
    border-spacing: 0px;
}


#data40{
    width: 100%;
    height: 40%;
    overflow: auto;

}

#data20_1{
    width: 100%;
    height: 20%;
    overflow: auto;

}

#data33_1{
    width: 100%;
    height: 33%;
    overflow: auto;

}
#data33_2{
    width: 100%;
    height: 33%;
    overflow: auto;
}

#data33_3{
    width: 100%;
    height: 33%;
    overflow: auto;
}



#data33{
    width: 100%;
    height: 33%;
}



#tableData {
    width: 100%;
    height: 50%;
    overflow: auto;
}
#tableEdit {
    width: 100%;
    height: 50%;
}
#tableNotices {
    width: 50%;
    height: 100%;
    overflow: auto;
    float:left;

}
#addNotice {
    width: 50%;
    height: 100%;
    float:right;
}
#noticeCategory {
    width: 100%;
    height: 10%;
}
#noticeText {
    width: 100%;
    height: 70%;
}
#noticeMenu {
    width: 100%;
    height: 15%;
    padding-top:10px;
}